body{
	font-size: 20px;
	font-family: "Helvetica";
	text-align: center;
	font-weight: lighter;
	background-color: #841736;
	background-repeat: repeat;
    background-image: url(../images/vegetables.jpg);
	}




