body{
	font-size: 20px;
	font-family: "Helvetica";
	text-align: center;
	font-weight: lighter;
	background-color: #841736;
	background-position: 80px 40px;
	background: linear-gradient(#EA396B);
	background: linear-gradient(to right, #29EDD9 10%, #ea396b 75%, #f21c59 15%);
	background: -webkit-linear-gradient(to right, #29EDD9 10%, #ea396b 75%, #f21c59 15%);
	background: -moz-linear-gradient(to right, #29EDD9 10%, #ea396b 75%, #f21c59 15%);
	}