.button {
  background: #6bcc15;
  border-radius: 6px;
  cursor: pointer;
  height: 300px;
  line-height: 95px;
  text-align: center;
  transition-property: background;
  transition-duration: 1s;
  transition-delay: .2s;
  transition-timing-function: linear;
  width: 300px;
}

.button:hover {
  background: #ef2f6e;

}

.button2
{
    background: #6bcc15;
  border-radius: 6px;
  cursor: pointer;
  margin: 50px 0;
   position: relative;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid red;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
  transition-property: background;
  transition-duration: 1s;
  transition-delay: .2s;
  transition-timing-function: linear;


.button2:hover
 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #0C5D91;
  }