#rectangle {
	width: 250px;
	height: 470px;
	background: black;
	margin:auto;
	}

#skinnyrectangle {
	width: 200px;
	height: 15px;
	background: black;
	margin-top:15px;
	margin-left: 25px;
	position: absolute;
}

#button1 {
	width: 25px;
	height: 15px;
	background: white;
	margin-top:0px;
	margin-left: 0px;
	position: absolute;
}


#button2 {
	width: 35px;
	height: 15px;
	background: white;
	margin-top:0px;
	margin-left: 35px;
	position: absolute;
}


#button3 {
	width: 35px;
	height: 15px;
	background: white;
	margin-top:0px;
	margin-left: 85px;
	position: absolute;
}

#button4 {
	width: 25px;
	height: 15px;
	background: white;
	margin-top:0px;
	margin-left: 136px;
	position: absolute;
}

#button5 {
	width: 25px;
	height: 15px;
	background: white;
	margin-top:0px;
	margin-left: 175px;
	position: absolute;
}


#circle {
	width: 200px;
	height: 200px;
	background: white;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
    margin-left: 25px;
    margin-top: 40px;
    padding: 0px;
    position: absolute;
}

#circlebottom {
	width: 200px;
	height: 200px;
	background: white;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
    margin-left: -2px;
    margin-top: 30px;
    padding: 0px;
    position: absolute;
}

#circle2 {
	width: 200px;
	height: 200px;
	background: black;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
    margin: auto;
    padding: 0px;
}



#smallcircle {
	width: 150px;
	height: 150px;
	background: black;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
    margin-top: 25px;
    margin-left: 25px;

}

#smallspeakercircle {
	width: 50px;
	height: 50px;
	background: white;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	position: absolute;
    margin-top: 5px;
    margin-left: -10px;
    z-index: 10;

}

#smallspeakercircle2 {
	width: 50px;
	height: 50px;
	background: white;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	position: absolute;
    margin-top: 5px;
    margin-left: 70px;
    z-index: 10;

}

#smallspeakercircle3 {
	width: 50px;
	height: 50px;
	background: white;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	position: absolute;
    margin-top: 5px;
    margin-left: 160px;
    z-index: 10;
}

#speakerline1 {
	width: 100px;
	height: 20px;
	background: orange;
	margin:auto;
	position: absolute;
	margin-left: 20px;
	margin-top: -80px;
	-ms-transform: rotate(310deg); /* IE 9 */
    -webkit-transform: rotate(310deg); /* Chrome, Safari, Opera */
    transform: rotate(310deg);
}





















#laptop {
	width: 450px;
	height: 250px;
	background: black;
	margin:auto;
	margin-left: 200px;
	margin-top: 300px;
	position: absolute;

	}






#headphoneband {
	width: 200px;
	height: 200px;
	background: white;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	position: absolute;
	border-color: black;
	border-style: solid;
	margin-left: 315px;
	margin-top: 20px;
}







#djhead {width: 200px;
	height: 200px;
	background: black;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
    margin: auto;
    padding: 0px;
    position: absolute;
    margin-left: 320px;
    margin-top: 40px;
    z-index: 10;
}




#djbody
{
	width: 250px;
	height: 50px;
	background: black;
	margin:auto;
	position: absolute;
	margin-left: 300px;
	margin-top: 250px;
	}




#djneck {
	width: 90px;
	height: 30px;
	background: black;
	margin:auto;
	position: absolute;
	margin-left: 380px;
	margin-top: 220px;
}




#headphonesleft {
	width: 90px;
	height: 90px;
	background: black;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	border-radius: 45px;
    margin-top: 50px;
    margin-left: -30px;
    position: absolute;
}

#headphonesright {
	width: 90px;
	height: 90px;
	background: black;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	border-radius: 45px;
    margin-top: 40px;
    margin-left: 460px;
    position: absolute;
    z-index: 15;
}


#headphonesright {
	width: 90px;
	height: 90px;
	background: black;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	border-radius: 45px;
    margin: right;
    margin-top: 100px;
}



#apple {
	width: 30px;
	height: 50px;
	background: white;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
    margin-left: 215px;
    margin-top: 100px;
    position: absolute;
}

#apple2 {
	width: 30px;
	height: 50px;
	background: white;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
    margin-left: 200px;
    margin-top: 100px;
    position: absolute;
}

#stem {
	width: 10px;
	height: 20px;
	background: white;
	margin:auto;
	position: absolute;
	margin-left: 220px;
	margin-top: 90px;
}

#djarm {
	width: 200px;
	height: 40px;
	background: black;
	margin:auto;
	position: absolute;
	margin-left: 200px;
	margin-top: 147px;
	-ms-transform: rotate(310deg); /* IE 9 */
    -webkit-transform: rotate(310deg); /* Chrome, Safari, Opera */
    transform: rotate(310deg);

}

#djarm2 {
	width: 50px;
	height: 115px;
	background: black;
	margin:auto;
	position: absolute;
	margin-left: 260px;
	margin-top: 195px;
	-ms-transform: rotate(310deg); /* IE 9 */
    -webkit-transform: rotate(310deg); /* Chrome, Safari, Opera */
    transform: rotate(310deg);

}
















#ball{
	width: 200px;
	height: 200px;
	background: black;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
    margin-left: 25px;
    margin-top: 40px;
    padding: 0px;
    position: absolute;
}

#handle {
  width: 0;
  height: 90px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 100px solid black;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  	-ms-transform: rotate(330deg); /* IE 9 */
    -webkit-transform: rotate(330deg); /* Chrome, Safari, Opera */
    transform: rotate(330deg);
}

	
















#table {

	width: 450px;
	height: 250px;
	background: black;
	margin:auto;
	margin-left: 200px;
	margin-top: 200px;
	position: absolute;

}

#record1{
	width: 200px;
	height: 200px;
	background: white;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
    margin-left: 25px;
    margin-top: 38px;
    padding: 0px;
    position: absolute;
}


#record2{
	width: 200px;
	height: 200px;
	background: white;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
    margin-left: 230px;
    margin-top: 38px;
    padding: 0px;
    position: absolute;
}

#innercircle {
	width: 50px;
	height: 50px;
	background: black;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	position: absolute;
    margin-top: 70px;
    margin-left: 75px;
}

#innercircle2 {
	width: 50px;
	height: 50px;
	background: black;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	position: absolute;
    margin-top: 70px;
    margin-left: 280px;
    z-index: 10;

}


#leftcircle {
	width: 50px;
	height: 50px;
	background: white;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 10;
}


#rightcircle {
	width: 50px;
	height: 50px;
	background: white;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	position: absolute;
    margin-top: 10px;
    margin-left: 390px;
    z-index: 10;

}


#rightin{
	width: 25px;
	height: 25px;
	background: black;
	-moz-border-radius: 33px;
	-webkit-border-radius: 33px;
	border-radius: 33px;
	position: absolute;
    margin-top: 12px;
    margin-left: 13px;
    z-index: 20;
}

#leftin{
	width: 25px;
	height: 25px;
	background: black;
	-moz-border-radius: 33px;
	-webkit-border-radius: 33px;
	border-radius: 33px;
	position: absolute;
    margin-top: 12px;
    margin-left: 13px;
    z-index: 20;
}


#bar{
	width: 100px;
	height: 15px;
	background: black;
	margin-top: 50px;
	margin-left: 40px;
	position: absolute;

	-ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);

}


#bar2{
	width: 100px;
	height: 15px;
	background: black;
	margin-top: 70px;
	margin-left: 350px;
	position: absolute;

	-ms-transform: rotate(110deg); /* IE 9 */
    -webkit-transform: rotate(110deg); /* Chrome, Safari, Opera */
    transform: rotate(110deg);

}


#smallsquare {
	width: 30px;
	height: 25px;
	background: black;
	margin-top: 70px;
	margin-left: 120px;
	position: absolute;

	-ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);

}



#smallsquare2 {
	width: 30px;
	height: 25px;
	background: black;
	margin-top: 110px;
	margin-left: 368px;
	position: absolute;

	-ms-transform: rotate(110deg); /* IE 9 */
    -webkit-transform: rotate(110deg); /* Chrome, Safari, Opera */
    transform: rotate(110deg);

}


#ttbutton1{
	width: 25px;
	height: 15px;
	background: white;
	margin-top:10px;
	margin-left: 70px;
	position: absolute;}


#ttbutton2{
	width: 25px;
	height: 15px;
	background: white;
	margin-top:10px;
	margin-left: 100px;
	position: absolute;}

#ttbutton3{
	width: 20px;
	height: 20px;
	background: white;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	position: absolute;
    margin-top: 8px;
    margin-left: 135px;
    z-index: 30;
}

#ttbutton4{
	width: 20px;
	height: 20px;
	background: white;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	position: absolute;
    margin-top: 8px;
    margin-left: 160px;
    z-index: 40;
}


#volumebar{
	width: 200px;
	height: 5px;
	background: white;
	margin-top:15px;
	margin-left: 180px;
	position: absolute;}

#volumeknob{
	width: 15px;
	height: 25px;
	background: white;
	margin-top:5px;
	margin-left: 270px;
	position: absolute;}



